/* Custom styles added for demo */
.navbar {
  display: flex;
  width: 100%;
  justify-content: space-around;
  background-color: #34495e;
  color: #fff;
  align-items: center;
  margin-bottom: 300px;
  position: absolute;
  top: 0;
  left: 0;
}

.App {
  text-align: center;
}

form {
  margin:60px auto;
  padding: 10px 0px;
  background: rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
}

input {
  margin: auto 15px auto 5px;
}
